.addButton {
  background-color: #76b7cd;
  color: #f3f3f3;
  font: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20%;
  height: 110%;
  position: absolute;
  left: 58rem;
  top: 0.0011rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: none;
  border-radius: 0px 50px 50px 0px;
}
