.clearAll {
  color: #d98326;
  background-color: antiquewhite;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 17rem;
  height: 5rem;
  position: absolute;
  left: 15rem;
  top: 60rem;
  padding: 1.25rem 0.625rem 1.25rem 0.625rem;
  gap: 0.625rem;
  font: Poppins;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
}
